# Twitter

---

Group name: Gruppe L

---

In [1]:
import tweepy

In [2]:
from keys import *

In [4]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [7]:
my_query = 'from:WIRED -is:retweet'

In [6]:
tweets = client.search_recent_tweets(query=my_query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [8]:
import pandas as pd

tweets_dict = tweets.json() 

tweets_data = tweets_dict['data'] 

df = pd.json_normalize(tweets_data)

In [9]:
df

,created_at,author_id,id,text,edit_history_tweet_ids
0,2022-11-30T01:33:03.000Z,2303751216,1597765619784482816,Tracking Trump's favorability with Americans: ...,[1597765619784482816]
1,2022-11-30T00:40:07.000Z,2303751216,1597752297429377024,"The best NBA players, according to RAPTOR http...",[1597752297429377024]
2,2022-11-30T00:07:04.000Z,2303751216,1597743982234189827,"The best NBA players, according to RAPTOR http...",[1597743982234189827]
3,2022-11-29T23:45:09.000Z,2303751216,1597738467114602498,We saw a pattern in the midterms: When electio...,[1597738467114602498]
4,2022-11-29T23:21:02.000Z,2303751216,1597732395050049536,The World Cup's new high-tech ball will change...,[1597732395050049536]
...,...,...,...,...,...
73,2022-11-23T21:46:03.000Z,2303751216,1595534166522748967,Our #WorldCup predictions: https://t.co/zHdtBL...,[1595534166522748967]
74,2022-11-23T18:50:06.000Z,2303751216,1595489888991907847,After two record-shattering elections for wome...,[1595489888991907847]
75,2022-11-23T17:03:06.000Z,2303751216,1595462958301073408,Drop the butter knife. https://t.co/eSMGH4mvHI,[1595462958301073408]
76,2022-11-23T15:12:06.000Z,2303751216,1595435024702005248,Our NBA predictions: https://t.co/SqyGEDsrQf,[1595435024702005248]
77,2022-11-23T13:33:06.000Z,2303751216,1595410109445771265,Here’s what your part of America eats on Thank...,[1595410109445771265]

In [10]:
df.to_csv("twitter.csv")